* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#tinaja {
	border-radius: 1rem;
	width: 10rem;
	height: 10rem;
	background: red;
	xtransform: translate(50%, 50%) scale(2);
	transition: all 0.1s ease-in;
}
